= form_for @job, html: {onsubmit: 'return false;'} do |job_form|
  %div
    = job_form.label :job_name
    = job_form.text_field :job_name
  %ul.nav.nav-tabs
    %li.active
      %a.tablinks{href: '#job-script', 'data-toggle' => 'tab'} Script
    %li
      %a.tablinks{href: '#job-graph', 'data-toggle' => 'tab'} Graph
  .tab-content
    #job-script.tab-pane.fade.in.active
      = job_form.fields_for :job_script do |script_form|
        = script_form.label :script
        = script_form.text_area :script
    #job-graph.tab-pane.fade
      
