= form_for @job, url: execute_job_path, html: {id: "execute_job_#{@job.id}", class: 'execute_job', style: 'display: none;'} do
  -
#job-meta-data.hidden{'data-job-id' => @job.id, 'data-job-script-json' => @job.job_script.job_script_as_json.to_json, 'data-node-meta-data' => @job.node_meta_data.to_json}
= form_for @job, html: {onsubmit: 'return false;'} do |job_form|
  %div
    = job_form.label :job_name
    = job_form.text_field :job_name
  %ul.nav.nav-tabs
    %li.active
      %a.tablinks{href: '#job-designer-tab', 'data-toggle' => 'tab'} Designer
    %li
      %a.tablinks{href: '#job-script', 'data-toggle' => 'tab'} Script
    %li
      %a.tablinks{href: '#job-test', 'data-toggle' => 'tab'} Test
  .tab-content
    #job-designer-tab.tab-pane.fade.in.active{style: 'position: relative;'}
      #job-designer
      #job-designer-context-menu{style: 'display: none;'}
        %ul
          - @job.node_meta_data.each do |name, node_definition|
            %li
              %a{href: '#', onclick: 'return selectContextMenuItem(event);'}= name
    #job-script.tab-pane.fade
      = job_form.fields_for :job_script do |script_form|
        = script_form.text_area :script
    #job-test.tab-pane.fade
      %div
        %label
          Inputs
        %textarea#job-test-variables
          = "---\n"
      %div{style: 'margin-top: 1em; margin-bottom: 1em'}
        %button#run-test-job.btn.btn-success{type: 'button', onclick: 'return executeJobTest();'}
          Run
      %div
        %label
          Results
        %textarea#job-test-result
