= form_for @new_job do |form|
  = form.label 'New Job'
  = form.text_field :job_name
  = form.submit
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th
        Enabled
      %th
        Job
      %th
        Cron
  %tbody
    - @jobs.each do |job|
      %tr
        %td
          = !!job.enabled
        %td
          = link_to job.job_name, edit_job_path(job)
        %td
          = form_for job do |form|
            = form.text_field :cron, placeholder: 'Run Manually'
            = form.submit 'Update'

