= form_for @node_definition, html: {onsubmit: 'return false;'} do |form|
  %div
    = form.label :name
    = form.text_field :name
  %div
    = form.label :script
    = form.text_area :script
  %div
    = form.label :meta_data
    = form.text_area :meta_data
