= form_for @new_node_definition do |form|
  = form.label 'New Node Definition'
  = form.text_field :name
  = form.submit
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th
        Node
      %th
        Inputs
      %th
        Outputs
      %th
        Properties
  %tbody
    - @node_definitions.each do |node_definition|
      %tr
        %td
          = link_to node_definition.name, edit_node_definition_path(node_definition)
        %td
          = node_definition.inputs * ', '
        %td
          = node_definition.outputs * ', '
        %td
          = node_definition.properties.map { |name, type| "[#{type}] name" } * ', '
